@import "tailwindcss";



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Sroll bar design */
/* ==== Custom Beautiful Scrollbar ==== */
::-webkit-scrollbar {
  width: 5px; /* slim scrollbar */
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* light track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #3688EE, #1E3A8A); /* blue gradient */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #2563EB, #1D4ED8);
}

@media (max-width:600px) {

  /* Sroll bar design */
  /* ==== Custom Beautiful Scrollbar ==== */
  ::-webkit-scrollbar {
    width: 0px; /* slim scrollbar */
    height: 0px;
  }

}

